<div class="page-header">
  <h1>
    Meal tags
    <a href="/meal_tags/new" class="btn btn-lg btn-success">New Meal tag</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Meal</th>
        <th>Tag</th>
        <th>Actions</th>
      </tr>

      <% @meal_tags.each do |meal_tag| %>
      <tr>
        <td><%= meal_tag.meal_id %></td>
        <td><%= meal_tag.tag_id %></td>
        <td>
          <a href="/meal_tags/<%= meal_tag.id %>" class="btn btn-primary">Show</a>
          <a href="/meal_tags/<%= meal_tag.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_meal_tag/<%= meal_tag.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
