<div class="page-header">
  <h2> Daily Plan (<%= @plan.date.strftime("%A - %B %e, %Y") %>)
    <a href="/plans/<%= @plan.id %>" class="btn btn-primary btn-sm">Show Weekly Plan</a>
    <a href="/mealplans/new/<%= @plan.id %>" class="btn btn-success btn-sm">Add a Meal</a>
    <a href="/delete_plan/<%= @plan.id %>" class="btn btn-danger btn-sm" rel="nofollow">
      Delete Plan
    </a>
    <a href="/plans" class="btn btn-primary btn-sm">
      Back to My Plans
    </a>
  </h2>
</div>

  <div class="row">
    <div class="col-md-12 mb-2">
      <table class="table">
        <tbdoy>
          <!-- Breakfast -->
          <tr>
            <th scope="row">Breakfast</th>
            <% @plan.mealplans.each do |plan| %>
            <% if plan.mealtime.time == "Breakfast" %>
            <tr><td></td>
            <td><a href ="/meals/<%= plan.meal.id %>"><%= plan.meal.name %></td></a>
            <td><% plan.meal.meal_tags.each do |tag| %>
              <span class="label label-warning"><%= tag.tag.name %></span>
              <% end %>
            </td>
            <td><a href="" class="btn btn-danger btn-xs" rel="nofollow">
              Remove Meal from Plan
            </a></td></tr>
            <% end %>
            <% end %>
          </tr>
          <!-- Morning Snack -->
          <tr>
            <th scope="row">Morning Snack</th>
            <% @plan.mealplans.each do |plan| %>
            <% if plan.mealtime.time == "Morning Snack" %>
            <tr><td></td>
            <td><a href ="/meals/<%= plan.meal.id %>"><%= plan.meal.name %></td></a>
            <td><% plan.meal.meal_tags.each do |tag| %>
              <span class="label label-warning"><%= tag.tag.name %></span>
              <% end %>
            </td>
            <td><a href="" class="btn btn-danger btn-xs" rel="nofollow">
              Remove Meal from Plan
            </a></td></tr>
            <% end %>
            <% end %>
          </tr>
          <!-- Lunch -->
          <tr>
            <th scope="row">Lunch</th>
            <% @plan.mealplans.each do |plan| %>
            <% if plan.mealtime.time == "Lunch" %>
            <tr><td></td>
            <td><a href ="/meals/<%= plan.meal.id %>"><%= plan.meal.name %></td></a>
            <td><% plan.meal.meal_tags.each do |tag| %>
              <span class="label label-warning"><%= tag.tag.name %></span>
              <% end %>
            </td>
            <td><a href="" class="btn btn-danger btn-xs" rel="nofollow">
              Remove Meal from Plan
            </a></td></tr>
            <% end %>
            <% end %>
          </tr>
          <!-- Afternoon Snack -->
          <tr>
            <th scope="row">Afternoon Snack</th>
            <% @plan.mealplans.each do |plan| %>
            <% if plan.mealtime.time == "Afternoon Snack" %>
            <tr><td></td>
            <td><a href ="/meals/<%= plan.meal.id %>"><%= plan.meal.name %></td></a>
            <td><% plan.meal.meal_tags.each do |tag| %>
              <span class="label label-warning"><%= tag.tag.name %></span>
              <% end %>
            </td>
            <td><a href="" class="btn btn-danger btn-xs" rel="nofollow">
              Remove Meal from Plan
            </a></td></tr>
            <% end %>
            <% end %>
          </tr>
          <!-- Dinner -->
          <tr>
            <th scope="row">Dinner</th>
            <% @plan.mealplans.each do |plan| %>
              <% if plan.mealtime.time == "Dinner" %>
              <tr><td></td>
              <td><a href ="/meals/<%= plan.meal.id %>"><%= plan.meal.name %></td></a>
              <td><% plan.meal.meal_tags.each do |tag| %>
                <span class="label label-warning"><%= tag.tag.name %></span>
                <% end %>
              </td>
              <td><a href="" class="btn btn-danger btn-xs" rel="nofollow">
                Remove Meal from Plan
              </a></td>  </tr>
              <% end %>
            <% end %>
          </tr>
          <!-- Post-Dinner Snack-->
          <tr>
            <th scope="row">Post-Dinner Snack</th>
            <% @plan.mealplans.each do |plan| %>
            <% if plan.mealtime.time == "Post-Dinner Snack" %>
            <tr><td></td>
            <td><a href ="/meals/<%= plan.meal.id %>"><%= plan.meal.name %></td></a>
            <td><% plan.meal.meal_tags.each do |tag| %>
              <span class="label label-warning"><%= tag.tag.name %></span>
              <% end %>
            </td>
            <td><a href="" class="btn btn-danger btn-xs" rel="nofollow">
              Remove Meal from Plan
            </a></td></tr>
            <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
